<footer class="footer_area clearfix">
  <div class="container">
    <div class="row">
      <div class="col-4 col-lg-4">
      </div>
      
      <div class="col-4 col-lg-4">
        <p class="copywrite">
          Copyright &copy; All rights reserved |
        </p>
        <ul class = "footerLinks">
            <li><a href="" routerLink="faq">FAQ</a></li>
            <!--<li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li style="float:right"><a href="#about">About</a></li>-->
          </ul>

      </div>
      <div class="col-4 col-lg-4">
      </div>
    </div>
  </div>
</footer>